@import url("grid.css");
html,
body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
}

header,
nav,
section,
article,
footer {
    display: block;
}

.wrapper {
    margin: 0 auto;
    /*background-image: radial-gradient(circle farthest-corner at 450px 55px, #fff 13%, #D6DEE0 50%);*/
    background-image: radial-gradient(circle farthest-corner at 50% 190px, #fff 25%, #C0C4C4 100%);
    width: 100%;
    margin: 0 auto;
}

header {
    max-width: 100%;
    margin: 0 auto;
    box-shadow: 0px 2px 4px #B1B2B6;
    background-color: #fff;
}

.horizontal-nav {
    min-width: 200px;
    max-width: 960px;
    margin: 0 auto;
}

.logo > a {
    background: url(../images/logo_2.png) no-repeat;
    display: block;
    margin-left: 25px;
    height: 88px;
}

nav {
    margin-left: 20px;
    margin-top: 48px;
    margin-bottom: -30px;
    text-align: center;
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* start of <-- top horizontol menu-->*/

.nav-top a {
    display: block;
    font-weight: 600;
    font-size: 1.15em;
    font-family: 'Shanti', sans-serif;
    background-color: #fff;
    text-decoration: none;
    padding: 8px 15px 7px 15px;
    color: #707070;
}

.nav-top li {
    position: relative;
}

.nav-top > li {
    display: inline-block;
}


/*.nav-top > li > a {
    background-color:
}
*/

.nav-top > li:first-child > a {
    color: #2b8bd1;
}

.nav-top > li:hover > a {
    display: inline;
    border-top: 5px solid #deff0e;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    color: #62b7f5;
    background-image: linear-gradient(#fff, #fff);
}

/*sub-menus*/

.nav-top ul {
    position: absolute;
    white-space: nowrap;
    border-bottom: 4px solid #deff0e;
    left: -99999em;
    border-left: 1px solid #d7d7d7;
    border-right: : 1px solid #d7d7d7;
    margin-top: 5px;
    background-color: #fff;
}

.nav-top > li:hover > ul {
    z-index: 3;
    left: auto;
    text-align: left;
    /*padding-top: 10px;*/
    min-width: 100%;
}

.nav-top > li:hover > ul > li {
    border-top: 1px solid #e6f8ff;
    border-bottom: 1px solid #caeaff;
}

.nav-top > li:hover > ul > li:first-child {
    border-top: none;
}

.nav-top > li:hover > ul > li:last-child {
    border-bottom: none;
}

.nav-top > li:hover > ul a {
    background-color: #fff;
}

.nav-top > li:hover > ul a:hover,
.nav-top > li:hover > ul li:hover {
    background-color: #8dcbf5;
    color: #fff;
}


/* end of <-- top horizontol menu-->*/

.bar-top {
    position: relative;
    z-index: 2;
    height: 460px;
    width: 960px;
    margin: 1px auto;
    background: url(../images/bar-top.jpg) no-repeat;
}

.internal-border {
    position: relative;
    float: left;
    width: 956px;
    height: 454px;
    border: solid 1px #deff0e;
    margin: 2px 2px 2px 2px;
}

.content {
    position: relative;
    width: 960px;
    margin: -2px auto;
    opacity: 0.8;
    box-shadow: 0 1px 0px 0px #dce1e5, 0 -9px 0px 0px #bec6c9, 5px 0 30px -4px #77858F, -5px 0 30px -4px #77858F;
    background-image: linear-gradient(45deg, #8f9d9f, #d6dce2 40%, #f5f6f8);
    z-index: 1;
}

.texture {
    position: relative;
    background: url(../images/texture_85.png);
    background-repeat: repeat-y;
    padding-bottom: 370px;
    z-index: 1;
}

.texture:after {
    content: '';
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.resume {
    position: relative;
    word-wrap: break-word;
    float: right;
    margin: 20px auto;
    width: 500px;
    padding: 10px 25px 10px 0;
    border-left: 2px solid #A39F9F;
    box-shadow: 6px 0px 5px -5px #999, -4px 0px 6px -4px #8A8686;
    z-index: 2;
    /*background: green;*/
}

.resume section {
    margin-left: 36px;
}


.resume ul > li:first-child {
    position: relative;
}

.resume ul > li:first-child > i, .resume ul > li:first-child > img {
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
}

.resume ul > li > img {
    margin: 0 0 0 -120px;
}

.resume ul{
    list-style-type: none;
    font-weight: 300; 
    padding: 2px 20px 2px 1px;
    z-index: 10;
}

.resume ul > li > i{
    margin-left: -44px;
    color: #625F5F;
}

.resume ul > li:nth-child(2) {
    font-family: 'Cabin', sans-serif;
    font-weight: 900; 
    font-size: 1.1em;
}

.resume ul > li span {
    padding-left: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.0em;
    color: #403E3E;

}

.resume ul > li {
    margin: 7px 0 4px 0;
}

.resume ul > li p {
    margin: 0 auto;
    padding: 3px;
    word-spacing: .3em;
    margin-left: 40px;
    font-family: 'Exo', sans-serif;
    font-weight: 400; 
    font-size: .9em;
}

.resume section:after {
    content: '';
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}


.footer {
    position: relative;
    margin: -460px auto;
    min-height: 460px;
    width: 960px;
    background: url(../images/footer-2.png) no-repeat;
    z-index: 2;
}

footer {
    font-family: 'Shanti', sans-serif;
    min-width: 100%;
    margin: 460px 0 0 0;
    position: relative;
    background-image: radial-gradient(circle farthest-corner at 1% 190px, #60EDAC 25%, #fff 100%);
    box-shadow:  0 -5px 5px -5px #B1B2B6;
    z-index: 3;

}

.canvas {
    width: 960px;
    margin: 2px auto;
}

.author {
    position: relative;
    color: #707070;
    margin: -120px auto;
    background: rgba(219,231,233,0.5);

}